# Python
__pycache__/
*.py[cod]
*$py.class

# dependencies
node_modules/
bun.lock
REFACTORING_PLAN.md
# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.docs/
.claude/
.cursor/
.expo/
.idea/
.vscode/
.agents/

playstore.json
# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# jest
coverage/

app-example

.env
steps.md

# Credentials
credentials.json

push-notification-send.md
.env.local
.direnv/
